@model List<VehicleVM>
@{

    ViewData["Title"] = "Траспортное средство";
}
<div class="container">
    <div class="container d-flex justify-content-end">
        <a asp-controller="Vehicle" asp-action="Upsert" type="button" class="btn btn-outline-primary btn">
            <i class="bi bi-plus-circle"></i> Добавить новый транспорт
        </a>
    </div>
    <table class="table table-light table-striped table-hover m-3 ">

        <thead class="tab-content">
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Бренд
                </th>
                <th>
                    Модель
                </th>
                <th>
                    Водитель
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Vehicle.Id))
            {
                <tr>
                    <td class="tab-content">
                        <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@obj.Vehicle.Id">@obj.Vehicle.StateRegisterNumber</a>
                    </td>
                    <td class="tab-content ">@obj.Vehicle.Brand</td>
                    <td class="tab-content ">@obj.Vehicle.Model</td>
                    @if (obj.Driver != null)
                    {
                        <td class="tab-content ">
                            <a asp-controller="Driver" asp-action="Upsert" asp-route-id="@obj.Driver.Id" asp-route-VehicleId="@obj.Vehicle.Id">@obj.Driver.FirstName @obj.Driver.LastName</a>
                        </td>
                    }
                    else
                    {
                        <td class="tab-content">
                            <a asp-controller="Driver" asp-action="Upsert" asp-route-VehicleId="@obj.Vehicle.Id"> Добавить нового водителя</a>

                        </td>
                    }

                    <td class="tab-content ">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Vehicle" asp-action="Upsert" asp-route-id="@obj.Vehicle.Id" class="btn btn-primary mx-1 rounded-2">
                                <i class="bi bi-pencil-square"></i> Подробнее
                            </a>
                            <a asp-controller="Vehicle" asp-action="Upsert" asp-route-id="@obj.Vehicle.Id" class="btn btn-primary mx-1 rounded-2">
                                <i class="bi bi-pencil-square"></i> Изменить
                            </a>
                            <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@obj.Vehicle.Id" class="btn btn-danger mx-1 rounded-2">
                                <i class="bi bi-trash3"></i> Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
