@model List<VehicleDescription>
@{

    ViewData["Title"] = "Описания транспорта";
}

<table class="container">
    <div class="container flex justify-content-end">
        <a asp-controller="VehicleDescription" asp-action="Upsert" type="button" class="btn btn-outline-primary btn">
            <i class="bi bi-plus-circle"></i> Добавить описание
        </a>
    </div>
    <thead class="tab-content table-primary">
        <tr>
            <th>
                Название
            </th>
            <th>
                Содержание
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.Id))
        {
            <tr>
                <td class="tab-content bg-light text-truncate">
                    <a asp-controller="VehicleDescription" asp-action="Details" asp-route-id="@obj.Id">@obj.Name</a>
                </td>
                <td class="tab-content bg-light text-truncate">@obj.Content</td>
                <td class="tab-content bg-light">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="VehicleDescription" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-1 rounded-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="VehicleDescription" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger mx-1 rounded-2">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>