@model Message
@{

    ViewData["Title"] = "Сообщение";
}
<div class="d-flex justify-content-center">
    <h2 class="text-primary ">Удалить сообщение</h2>
    <hr />
</div>
<form method="post">
    <input asp-for="Id" hidden />
    <div class="d-flex justify-content-center">
        <div class="border d-flex flex-column w-50">
            <div class="p-3 pb-1">
                <label asp-for="Id" class="p-0"></label>:<p>@Model.Id</p>
            </div>
            <div class="p-3 pb-1">
                <label asp-for="ReportId" class="p-0"></label>:<p>@Model.ReportId</p>
            </div>
            <div class="p-3 pb-1">
                <label asp-for="Report.VehicleId" class="p-0"></label>:<p>@Model.Report.VehicleId</p>
            </div>
            <div class="p-3 pb-1">
                <label asp-for="Report.CreationTime" class="p-0"></label>:<p>@Model.Report.CreationTime</p>
            </div>
            <div class="p-3 pb-1">
                <label asp-for="Grade" class="p-0"></label>:<p>@Model.Grade</p>
            </div>
            <div class="p-3 pb-1">
                <label asp-for="Content" class="p-0"></label>:<p>@Model.Content</p>
            </div>
            <div class=" d-flex flex-lg-row justify-content-end  ">
                <div class="p-3">
                    <a asp-controller="Message" asp-action="Index" class="btn btn-outline-primary" style="padding-block-end">
                        К списку сообщений
                    </a>
                </div>
                <div class="p-3">
                    <button type="submit" class="btn btn-outline-danger" style="padding-block-end">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
