@model List<Driver>
@{

    ViewData["Title"] = "Список водителей";
}
<div class="container">
    <div class="container d-flex justify-content-end">
        <a asp-controller="Driver" asp-action="Upsert" type="button" class="btn btn-outline-primary btn">
            <i class="bi bi-plus-circle"></i> Добавить новый транспорт
        </a>
    </div>
    <table class="table table-light table-striped table-hover m-3 ">

        <thead class="tab-content">
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Номер транспорта
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Id))
            {
                <tr>
                    <td class="tab-content">@obj.FirstName</td>
                    <td class="tab-content">@obj.LastName</td>
                    <td class="tab-content">@obj.VehicleId</td>

                    <td class="tab-content ">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Driver" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary mx-1 rounded-2">
                                <i class="bi bi-pencil-square"></i> Подробнее
                            </a>
                            <a asp-controller="Driver" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-1 rounded-2">
                                <i class="bi bi-pencil-square"></i> Изменить
                            </a>
                            <a asp-controller="Driver" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1 rounded-2">
                                <i class="bi bi-trash3"></i> Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
