@model HomePartialVM
@{
    Dictionary<int, string> Colors = new Dictionary<int, string>
        {
            { 1, "bg-light" },
            { 2, "bg-info" },
            { 3, "bg-danger" }
        };
}

<div class="d-flex justify-content-start">
    @if(Model.Vehicle!=null){
        <div class="container p-3">
            <div class="p-2">
                <a asp-controller="Home" asp-action="VehiclePage" asp-route-id="@Model.Vehicle.Id" type="button" class="btn btn-primary btn">
                    Дополнительная информация
                </a>
            </div>
            
            <div class="border d-flex flex-column">
                <div class="p-3">
                    <label asp-for="Vehicle.Brand" class="p-0"></label>
                    <label class="form-control">@Model.Vehicle.Brand</label>
                </div>
                <div class="p-3">
                    <label asp-for="Vehicle.Model" class="p-0"></label>
                    <label class="form-control">@Model.Vehicle.Model</label>
                </div>
                <div class="p-3">
                    <label asp-for="Vehicle.StateRegisterNumber" class="p-0"></label>
                    <label class="form-control">@Model.Vehicle.StateRegisterNumber</label>
                </div>
                @if (Model.Vehicle.Driver != null)
                {
                    <div class="container m-3 p-2 border w-auto">
                        <h4>Информация о водителе</h4>
                        <div class="p-2">
                            <label asp-for="Vehicle.Driver.FirstName" class="p-0"></label>
                            <label class="form-control">@Model.Vehicle.Driver.FirstName</label>
                        </div>
                        <div class="p-2">
                            <label asp-for="Vehicle.Driver.LastName" class="p-0"></label>
                            <label class="form-control">@Model.Vehicle.Driver.LastName</label>
                        </div>
                        <div class="p-2">
                            <label asp-for="Vehicle.Driver.MiddleName" class="p-0"></label>
                            <label class="form-control">@Model.Vehicle.Driver.MiddleName</label>
                        </div>
                        <div class="p-2">
                            <label asp-for="Vehicle.Driver.Information" class="p-0"></label>
                            <label class="form-control">@Model.Vehicle.Driver.Information</label>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if(Model.Report!=null){
            <div class="container p-3">
                <div class="p-2">
                    <a asp-controller="Home" asp-action="ReportPage" asp-route-vehicleId="@Model.Vehicle.Id" type="button" class="btn btn-primary btn">
                        Просмотреть все отчёты
                    </a>
                </div>
                <div class="border d-flex flex-column">
                    <div class="p-3 pb-0">
                        <label asp-for="Report.CreationTime" class="p-0"></label>:<p>@Model.Report.CreationTime</p>
                    </div>
                    <div class="d-flex flex-column p-3 pb-1">
                        @if (Model.Report.Messages.Count() != 0)
                        {
                            <div class="pb-2">
                                <label asp-for="Report.Messages" class="p0" for="Message"></label>
                            </div>
                        }
                        else
                        {
                            <div class="pb-2">
                                <label class="p0">Техника работает в штатном режиме, отклонений нет</label>
                            </div>
                        }
                        @foreach (var message in Model.Report.Messages)
                        {
                            <div class="d-flex">
                                <div class="m-2 mt-0 border border-1 rounded-3 container @Colors[message.Grade] " style="width:30px">
                                </div>
                                <div class="pb-2 w-100">
                                    <label class="form-control bg-light" readonly id="Message">@message.Content</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div style="font-size:larger">
            Выберете технику для просмотра
        </div>
    }
</div>