@model User
@{
    ViewData["Title"] = "Мои транспортные средства";
    HomePartialVM partialVM = new HomePartialVM(null,null);
}

<div class="container">
    <h2>Мои транспортные средства</h2>
</div>

<div class="container d-flex justify-content-start">
    <div>
        <table class="w-auto table table-light table-striped table-hover m-3 ">
            <thead class="tab-content">
                <tr>
                    <th>Номер</th>
                    <th>Бренд</th>
                    <th>Модель</th>
                    <th>    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Vehicles.OrderBy(u => u.Id))
                {
                    <tr>
                        <td href="#"  class="tab-content vehicle-link" data-id="@obj.Id">@obj.StateRegisterNumber</td>
                        <td href="#" class="tab-content vehicle-link" data-id="@obj.Id">@obj.Brand</td>
                        <td href="#" class="tab-content vehicle-link" data-id="@obj.Id">@obj.Model</td>
                        <td class="container">
                            <button href="#" class="btn btn-info generate-report " data-id="@obj.Id">
                                создать отчёт
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container" id="partial">
        @{
            await Html.RenderPartialAsync("_Vehicle", partialVM);
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".vehicle-link").click(function () {
                var vehicleId = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("_Vehicle", "Home")',
                    type: 'post',
                    data: { id: vehicleId },
                    success: function (result) {
                        $("#partial").html(result);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".generate-report").click(function () {
                var vehicleId = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("GenerateReportBtn", "Home")',
                    type: 'post',
                    data: { id: vehicleId }
                });
            });
        });
    </script>
}